extends layout

block content
  // Landing
  section 
    h1 That Conference
    h3 jQuery Mobile Offline Applications

    p By: Jacob Gable (aka <a href="http://twitter.com/jacob4u2" title="Jacob Gable on Twitter">@jacob4u2</a>)

  section
    h1 Shout Outs

    section
      h4 Contractually obligated slide includes

    section
      h3 That Conference 2.0
      h4 Get your geek on again, next year.

      // Image of thatConference for next year

    section 
      h3 Sponsors
      h4 They sponsor stuff.

      // Image of sponsors

  section
    h1 Jacob Gable
  
    section
      h3 Get to know me
  
    section
      h3 Chicagoan
  
      // Built in Chicago image
  
      p Da Bears
  
    section
      h3 Father
  
      // Image of Baby
  
      p Cutest. Baby. Ever.
  
    section
      h3 jQuery Mobile Contributor
  
      // Image of jQuery Mobile release notes
  
      p That's me.

    section
      h3 On The Web

      // My Blog

      p Always under construction.
