extends layout

block content
  // Landing
  section 
    h1 That Conference
    h3 jQuery Mobile Offline Applications

    p By: Jacob Gable (aka <a href="http://twitter.com/jacob4u2" title="Jacob Gable on Twitter">@jacob4u2</a>)

  section
    h1 Shout Outs

    section
      h4 Contractually obligated slide includes

    section
      // Image of thatConference for next year
      img(src="/img/thatConference.png", width="800")


    section 
      // Image of sponsors
      img(src="/img/sponsors.png", width="800")

  section
    h1 Jacob Gable
  
    section
      h3 Get to know me

      p Twitter: <a href="http://twitter.com/jacob4u2" title="Jacob Gable on Twitter">@jacob4u2</a>

      p About.me: <a href="http://about.me/jgable" title="About Jacob Gable">about.me/jgable</a>
  
    section
      h3 Chicagoan
  
      // Built in Chicago image
      p
        img(src="/img/BuiltInChicago.jpg", width="600")

  
      p Da Bears
  
    section
      h3 Father
  
      // Image of Baby
      p
        img(src="/img/babyAddison.jpg", width="200")
  
      p Cutest. Baby. Ever.
  
    section
      h3 jQuery Mobile Contributor
  
      // Image of jQuery Mobile release notes
      p
        img(src="/img/jqm-commit.png", width="600")
  
      p That's me.

    section
      h3 On The Web

      // My Blog
      p
        img(src="/img/jacobgable_com.png", width="600")

      p Always under construction.
