!!! 5
|<html lang="en">
head
  meta(charset='utf-8')
  title That Conference - jQuery Mobile Offline Apps
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

  // Font
  link(href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", rel="stylesheet", type="text/css")

  // CSS
  != css("revealjs/reset")
  != css("revealjs/main")
  != css("revealjs/zenburn")
  
body
  .reveal
    .state-background
    .slides
      block content

    // The navigational controls UI
    aside.controls
      a.left(href="#") &#x25C4;
      a.right(href="#") &#x25BA;
      a.up(href="#") &#x25B2;
      a.down(href="#") &#x25BC;
    

    // Presentation progress bar
    .progress
      span

  != js("lib/head.min.js")
  != js("app")

|</html>